table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #cce6ff;
}
table#t01 tr:nth-child(odd) {
   background-color: #fff;
}
table#t01 th {
    background-color: blue;
    color: white;
}